<head></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Ohio Laser Wash (Streetsboro and Macedonia)</title>


<meta name="keywords" content="car wash, laser wash, laser car wash" />
<meta name="description"
    content="Ohio Laser Wash | Committed to providing elite Laser Wash services to the residents of Streetsboro and Macedonia. Macedonia Laser Wash and Streetsboro Laser Wash open now." />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&display=swap" rel="stylesheet">
<link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/reallogohere.svg"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATIONS</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATIONS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
    <!-- hero image :) -->
    <div class="main">
        {{{body}}}

    </div>


    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        ohiolaserwash@gmail.com
                    </span>
                </div>
            </div>
            <div class="row center white-text mobile-margin-bottom">
                <div class="col s12 l6">
                    <div>
                        <span>Streetsboro Location</span>
                    </div>
                    <div>
                        <span>965 Singletary Dr. Streetsboro, OH 44241</span>
                    </div>
                </div>
                <div class="col s12 l6"></div>
                <div>
                    <span>Macedonia Location</span>
                </div>
                <div>
                    <span>2036 Alexandria Way Macedonia, OH 44056</span>
                </div>
            </div>
        </div>


        <div class="row center" style="margin-top: -3rem;">
            <div class="col s12">
                <p></p>
                <img width="70%" src="public/images/reallogohere.svg" alt="Ohio Laser Wash Logo">
            </div>
        </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.carousel').carousel();
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.modal').modal();
            $('.parallax').parallax();
        });
    </script>
</body>