<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Contact | Macedonia Laserwash</title>

    <meta name="keywords" content="car wash, laser wash, laser car wash" />
    <meta name="description" content="Madeonia | Laserwash" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/small_logo-03.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATION</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATION</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
    <div class="parallax-container">
        <div class="parallax black"><img class="responsive-img" src="public/images/contact.jpg">
        </div>
        <div class="parralax-text">
            <h1>CONTACT</h1>
        </div>
    </div>
    <div class="section black">
        <div class="row container">
            <div class="col s12">
                <h2 class="orange-text glow center">Questions? <span class="white-text glow">Contact us below</span> </h2>
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col s12">
                    <!-- form container desktop -->
                    <div class="container center-align" id="form-container">
                        <div class="row">
                            {{msg}}
                            <form method="POST" action="send">
                                <div class="row">
                                    <div class="col s12">
                                    <input class="form-submit input-field" style="width: 100%; padding: 1rem; border-style: solid; color: orange; height: 3rem; border-radius: 15px; border-color: orange; border-width: 1px;" placeholder="Full Name" type="text" name="name" style="color: orange;">
                                </div>
                                </div>
                                <p>
                                    <input type="email" name="email" Placeholder="Email" style="width: 100%; padding: 1rem; border-style: solid; color: orange; height: 3rem; border-radius: 15px; border-color: orange; border-width: 1px;">
                                </p>
                                <p>
                                    <input type="text" name="message" Placeholder="Message" style="width: 100%; padding: 1rem; border-style: solid; color: orange; height: 6rem; border-radius: 15px; border-color: orange; border-width: 1px;">
                                </p>
                                <p>
                                     <button id="button" style="background-color: orange; border-radius: 10px;"
                                    class="btn-large waves-effect waves-light box-glow" type="submit" name="action">Submit
                                </button>
                                
                                </p>
                            </form>
                        </div>
                        <!-- button -->

                         
                       
                    </div>
            </div>
        </div>
        <div class="row hide-on-large-only">
            <div class="col s12">
                    <!-- form container desktop -->
                    <div class="container center-align" id="form-container">
                        <div class="row">
                            {{msg}}
                            <form method="POST" action="send">
                                <div class="row">
                                    <div class="col s12">
                                    <input class="form-submit input-field" style="width: 18rem; padding: 1rem; border-style: solid; color: orange; height: 3rem; border-radius: 15px; border-color: orange; border-width: 1px;" placeholder="Full Name" type="text" name="name" style="color: orange;">
                                </div>
                                </div>
                                <p>
                                    <input type="email" name="email" Placeholder="Email" style="width: 18rem; padding: 1rem; border-style: solid; color: orange; height: 3rem; border-radius: 15px; border-color: orange; border-width: 1px;">
                                </p>
                                <p>
                                    <input type="text" name="message" Placeholder="Message" style="width: 18rem; padding: 1rem; border-style: solid; color: orange; height: 6rem; border-radius: 15px; border-color: orange; border-width: 1px;">
                                </p>
                                <p>
                                     <button id="button" style="background-color: orange; border-radius: 10px;"
                                    class="btn-large waves-effect waves-light box-glow" type="submit" name="action">Submit
                                </button>
                                
                                </p>
                            </form>
                        </div>
                        <!-- button -->

                         
                       
                    </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/public/images/photo2-02.png"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <div class="col s12">
                <p class=" white-text center">
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12">
                    2036 Alexandria Way
                        Macedonia, Ohio  44056
                </div>
            </div>
            <div class="row center white-text" style="margin-top: -1rem;">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        macedonialaserwash@gmail.com
                    </span>

                </div>
            </div>
           
            <div class="row center" style="margin-top: -3rem;">
                <div class="col s12">
                    <img width="70%" src="public/images/Large-Logo-02.png" alt="">
                </div>
            </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
                   $('.sidenav').sidenav();
                    $('.carousel').carousel();
                    $('.collapsible').collapsible();
                    $('select').formSelect();
                    $('.modal').modal();
                    $('.parallax').parallax();
        });
    </script>
   
</body>