<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>FAQS | Macedonia Laserwash</title>

    <meta name="keywords" content="car wash, laser wash, laser car wash" />
    <meta name="description" content="Madeonia | Laserwash" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/small_logo-03.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATION</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATION</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
     <!-- hero image :) -->
     <div class="parallax-container hide-on-med-and-down">
        <div class="parallax black">
            <img class="responsive-img" src="public/images/Carinbay4-03.png">
        </div>
        <div class="parralax-text">
            <h1>FAQS</h1>
        </div>
    </div>
    <div class="parallax-container hide-on-large-only">
        <div class="parallax black">
            <img src="public/images/Carinbay4-03.png">
        </div>
        <div class="parralax-text">
            <h1>FAQS</h1>
        </div>
    </div>

    <div class="section black">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 style="font-weight: 300;" class="white-text glow center">FREQUENTLY ASKED  </br><span class="orange-text">QUESTIONS</span> </h2>
                    <p class=" white-text center">
                        Our mission is to provide you with the best quality wash each and every visit. 
                    </br>
                        
                        LaserWash is not a franchise and each wash is independently owned and operated.
                    </p>
                </div>
            </div>
        </div>
       <div class="container">

        <div class="row">
            <div class="col s12 m6">
                <div class="container white-text center">
                    <ul class="collapsible black">
                        <li style="background-color: black;">
                            <div class="collapsible-header black">What is a LaserWash? </div>
                            <div class="collapsible-body black"><span>LaserWash is the leader in touchless car washing utilizing the latest in equipment technology and products used to clean and protect your investment. No other touchless wash system can clean your vehicle like the LaserWash 360™. Our mission is to provide you with the best quality wash each and every visit. LaserWash is not a franchise and each wash is independently owned and operated.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header black">What is Rain-X?</div>
                            <div class="collapsible-body black"><span>Rain-X is a product included in our top two wash packages. It causes water to bead up and run down surfaces more easily, so it improves your vehicle’s ability to repel water.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header black">How often should I wash my car?
                            </div>
                            <div class="collapsible-body black"><span>Every ten days is a good rule of thumb, though every five to seven days is preferable during winter months.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header black left">Do you use recycled water to wash my vehicle?
                            </div>
                            <div class="collapsible-body black">
                                <span>No, all of the water we use is fresh for every wash and has been softened (no hard water).</span></div>
                        </li>                        
                        <li>
                            <div class="collapsible-header black">Why should I use a car wash instead of washing my car at home?
                            </div>
                            <div class="collapsible-body black"><span>Touchless car washes are gentler on your vehicle’s finish than washing by hand, and our cleaning products are formulated to safely clean any kind of car finish. There is also an environmental benefit, since our cleaning products are biodegradable and we dispose of wastewater in accordance with municipal environmental regulations.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header black">The wash is open 24 hours. Is someone on location 24 hours?
                            </div>
                            <div class="collapsible-body black"><span>No, however an attendant is usually on premises daily to check the facility and equipment. Our facilities are video-monitored 24/7 to ensure you have a safe visit. If there is an equipment problem the LaserWash 360® system will alert an attendant via email. Should you need to contact us you can call, text, or send an email and someone will respond as soon as possible.</span></div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col s12 m6">
                <div class="container white-text center">                            
                    <ul class="collapsible black">
                                <li>
                                    <div class="collapsible-header black ">What is Ceramic Seal?</div>
                                    <div class="collapsible-body black"><span>ArmorAll Ceramic Seal is a product included in our top wash package. Once your vehicle is completely clean, but before the spot-free rinse, the product is applied and bonds itself to your vehicle’s finish, creating an extra layer of protection from dirt and grime and improving shine.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header black">What is a spot-free rinse? 
                                    </div>
                                    <div class="collapsible-body black"><span>A spot-free rinse is the final rinse of your vehicle with water that has gone through a Reverse Osmosis (RO) process. Our RO water is processed on-site using filters that remove unwanted minerals, solids, and chemicals that cause spotting, resulting in a crystal clear final rinse.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header black">Why is it important to wash my car?
                                    </div>
                                    <div class="collapsible-body black"><span>If left alone, things like dirt, pollen, salt, pollutants in rainwater, dust, bugs, and tree sap will damage your vehicle’s finish. Also, if mud is not removed from the undercarriage it can trap moisture and cause rust and body rot, especially around the wheel wells and door sills.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header black">Do you heat the wash and rinse water?
                                    </div>
                                    <div class="collapsible-body black"><span>Yes, we heat the pre-soak and rinse water to 120 degrees, the maximum allowed by law. Some washes try to clean and rinse your vehicle with cold water. Have you ever tried using cold water to wash your dishes? Cold water does not clean as well as hot water and the same logic applies to washing your vehicle. If you don’t use hot water, your vehicle won’t be as clean.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header black">Will anything in the wash touch my vehicle?
                                    </div>
                                    <div class="collapsible-body black"><span>LaserWash is entirely touchless; there are no brushes or cloth that will scratch your paint. We use only high-pressure water, purpose-made cleaning products, hot softened water, and air. There are no tracks or treadles to drive in to that can possibly damage your tires or rims. LaserWash® uses the Virtual Treadle® to guide you in to the wash bay.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header black">Does a touchless wash always get my vehicle clean?
                                    </div>
                                    <div class="collapsible-body black"><span>There are times when touchless cleaning becomes more challenging due to contaminants getting baked onto your vehicle’s surface. Once or twice a year we would suggest hand washing your vehicle to help break these down. Regular washing at our LaserWash® will then keep your investment looking its best.</span></div>
                                </li>
                        </ul>
                </div>
            </div>
        </div>
       </div>
       <div class="row">
           <div class="col s12">
            <div class="center">
                <a href="/contact" class="waves-effect waves-light btn orange glow">Contact Us</a>
            </div>

           </div>
       </div>
        
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="public/images/photo2-02.png"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <div class="col s12">
                <p class=" white-text center">
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12">
                    2036 Alexandria Way
                        Macedonia, Ohio  44056
                </div>
            </div>
            <div class="row center white-text" style="margin-top: -1rem;">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        macedonialaserwash@gmail.com
                    </span>
                    <!-- <div class="hide-on-med-and-down">
                        <hr style="width: 25rem;">
                    </div>
                    <div class="hide-on-large-only">
                        <hr style="width: 200px;">
                    </div> -->
                </div>
            </div>
           
            <div class="row center" style="margin-top: -3rem;">
                <div class="col s12">
                    <img width="70%" src="public/images/Large-Logo-02.png" alt="">
                </div>
            </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.carousel').carousel();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.modal').modal();
                $('.parallax').parallax();
        });
    </script>
</body>