<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Macedonia Laserwash</title>

    <meta name="keywords" content="car wash, laser wash, laser car wash" />
    <meta name="description" content="Madeonia | Laserwash" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&display=swap" rel="stylesheet">
    <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/small_logo-03.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATION</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATION</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
     <!-- hero image :) -->
    <section class="landing">
        <div class="landing-inner">
            <h1 class="left not-fat glow">YOUR PREMIER </br> <span class="orange-text">LASER</span> WASH</h1>
            <p class="hide-on-med-and-down" style="margin-top: -1rem;">Everything you've been looking for in a laser wash. </br> And more.</p>
        </div>
    </section>

    <div class="section black">
        <div class="row container">
            <div class="col s12 m6">
                <h2 style="font-weight: 300;" class="white-text glow center">ABOUT <span class="orange-text">US</span> </h2>

                <p class=" white-text center">
                    Welcome to Macedonia Laser Wash. We are a family owned and operated business that is pleased to provide our customers with a completely touchless car wash. 
                    </br>
                    </br>
                    Our bays are equipped with LaserWash Smart 360 systems that use ultrasonic sensors to measure your vehicle and tailor each wash to its exact dimensions and position in the bay. We also use only hot, softened water, including a final, spot-free rinse cycle with water that has been purified using reverse osmosis filtration (an RO system), which removes minerals known to cause spotting. Rest easy knowing that nothing is touching your vehicle except cleaning products and water, and enjoy an exceptionally clean, damage-free car!
                </p>

            </div>
            <div class="col s12 m6">
                <div class=" hide-on-med-and-down"></div>
                <div class="container white-text center">
                    <div class="row center">
                        <h4 class="white-text glow">
                            OTHER LASERWASH BENEFITS
                        </h4>
                    </div>
                    <div class="row center" style="margin-top: -2rem;">
                        <div class="col s4">
                            <img class="responsive-img" src="public/images/dividerone.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">Virtual Treadle® Bay Loading</p>
                        </div>
                        <div class="col s4">
                            <img class="responsive-img" src="public/images/dividertwo.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">Open</br>
                                Wash</br> Bay</p>
                        </div>
                        <div class="col s4">
                            <img class="responsive-img" src="public/images/dividerthree.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">MaxAir Integrated Overhead Dryers®</p>
                        </div>
                    </div>
                    <div class="row center" style="margin-top: -2rem;">
                        <div class="col s4">
                            <img class="responsive-img glow" src="public/images/dividerfour.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">Premium Soaps and Protectants</p>
                        </div>
                        <div class="col s4">
                            <img class="responsive-img glow" src="public/images/dividerfive.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">Eco-Friendly
                                Technology</p>
                        </div>
                        <div class="col s4">
                            <img class="responsive-img glow" src="public/images/dividersix.png" alt="">
                            <p style="margin-top: -1rem;" class="glow">Simple, Smart, Sophisticated</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img  src="/public/images/photo2-02.png"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <div class="col s12">
                <p class=" white-text center">
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12">
                    2036 Alexandria Way
                        Macedonia, Ohio  44056
                </div>
            </div>
            <div class="row center white-text" style="margin-top: -1rem;">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        macedonialaserwash@gmail.com
                    </span>
                    <!-- <div class="hide-on-med-and-down">
                        <hr style="width: 25rem;">
                    </div>
                    <div class="hide-on-large-only">
                        <hr style="width: 200px;">
                    </div> -->
                </div>
            </div>
           
            <div class="row center" style="margin-top: -3rem;">
                <div class="col s12">
                    <img width="70%" src="public/images/Large-Logo-02.png" alt="">
                </div>
            </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
                    $('.sidenav').sidenav();
                    $('.carousel').carousel();
                    $('.collapsible').collapsible();
                    $('select').formSelect();
                    $('.modal').modal();
                    $('.parallax').parallax();
        });
    </script>
</body>