<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>FAQS | Macedonia Laserwash</title>

    <meta name="keywords" content="car wash, laser wash, laser car wash" />
    <meta name="description" content="Madeonia | Laserwash" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/small_logo-03.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATION</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATION</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
     <!-- hero image :) -->
     <div class="parallax-container hide-on-med-and-down">
        <div class="parallax black">
            <img class="responsive-img" src="public/images/location.jpg">
        </div>
        <div class="parralax-text">
            <h1>LOCATION</h1>
        </div>
    </div>
    <div class="parallax-container hide-on-large-only">
        <div class="parallax black">
            <img src="public/images/location.jpg">
        </div>
        <div class="parralax-text">
            <h1>LOCATION</h1>
        </div>
    </div>
    <div class="section black">
        <div class="row">
            <div class="col s12">

                    <h2 style="font-weight: 300;" class="white-text glow center">WHERE ARE WE </br><span class="orange-text">LOCATED?</span> </h2>
                    <p class=" white-text center">
                        We are currently located at 2036 Alexandria Way Macedonia, OH 44056
                    </br>
        
            </div>
                           
        </div>
        <iframe
            class="map" 
            src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d95896.05725430319!2d-81.5714507869003!3d41.31426301122936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m5!1s0x88311fc434643a03%3A0x1d3601d1e1012681!2sMacedonia%20Laser%20Wash%2C%202036%20Alexandria%20Dr%2C%20Macedonia%2C%20OH%2044056!3m2!1d41.314155299999996!2d-81.5014106!4m4!1s0x88311fc434643a03%3A0x1d3601d1e1012681!3m2!1d41.314155299999996!2d-81.5014106!5e0!3m2!1sen!2sus!4v1612929704903!5m2!1sen!2sus" 
            width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12">
                    2036 Alexandria Way
                        Macedonia, Ohio  44056
                </div>
            </div>
            <div class="row center white-text" style="margin-top: -1rem;">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        macedonialaserwash@gmail.com
                    </span>
                    <!-- <div class="hide-on-med-and-down">
                        <hr style="width: 25rem;">
                    </div>
                    <div class="hide-on-large-only">
                        <hr style="width: 200px;">
                    </div> -->
                </div>
            </div>
           
            <div class="row center" style="margin-top: -3rem;">
                <div class="col s12">
                    <img width="70%" src="public/images/Large-Logo-02.png" alt="">
                </div>
            </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.carousel').carousel();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.modal').modal();
                $('.parallax').parallax();
        });
    </script>
</body>