<!-- hero image :) -->
<div class="parallax-container hide-on-med-and-down">
    <div class="parallax black">
        <img class="responsive-img" src="public/images/location.jpg">
    </div>
    <div class="parralax-text">
        <h1>LOCATIONS</h1>
    </div>
</div>
<div class="section black">
    <div class="row">
        <div class="col s12">

            <h2 style="font-weight: 300;" class="white-text glow center">WHERE ARE WE </br><span
                    class="orange-text">LOCATED?</span> </h2>


        </div>

    </div>
    <h3 class="white-text glow center">Macedonia</h3>
    <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d95896.05725430319!2d-81.5714507869003!3d41.31426301122936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m5!1s0x88311fc434643a03%3A0x1d3601d1e1012681!2sMacedonia%20Laser%20Wash%2C%202036%20Alexandria%20Dr%2C%20Macedonia%2C%20OH%2044056!3m2!1d41.314155299999996!2d-81.5014106!4m4!1s0x88311fc434643a03%3A0x1d3601d1e1012681!3m2!1d41.314155299999996!2d-81.5014106!5e0!3m2!1sen!2sus!4v1612929704903!5m2!1sen!2sus"
        width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>

    <h3 class="white-text glow center">Streetsboro</h3>
    <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11998.701701960183!2d-81.37946292624103!3d41.250627526789614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883122c26cc964f3%3A0x6534d48dc72d3c8f!2s965%20Singletary%20Dr%2C%20Streetsboro%2C%20OH%2044241!5e0!3m2!1sen!2sus!4v1731782538952!5m2!1sen!2sus"
        width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
    {{!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11998.701701960183!2d-81.37946292624103!3d41.250627526789614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883122c26cc964f3%3A0x6534d48dc72d3c8f!2s965%20Singletary%20Dr%2C%20Streetsboro%2C%20OH%2044241!5e0!3m2!1sen!2sus!4v1731782538952!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> --}}
</div>