<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>FAQS | Macedonia Laserwash</title>

    <meta name="keywords" content="car wash, laser wash, laser car wash" />
    <meta name="description" content="Madeonia | Laserwash" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&display=swap" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="black white">
    <div class="navbar-fixed">
        <nav class="materialize-white black" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img
                        class="brand-padding down" src="public/images/small_logo-03.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text glow" href="/pricing">PRICING</a></li>
                    <li><a class="white-text glow" href="/location">LOCATION</a></li>
                    <li><a class="white-text glow" href="/faqs">FAQS</a></li>
                    <li><a class="white-text glow" href="/contact">CONTACT</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
                        class="material-icons white-text">menu</i></a>
            </div>
    </div>
    <ul id="nav-mobile" class="sidenav black white-text">
        <li><a style="font-weight: 300; color: white;" href="/">HOME</a></li>
        <li><a style="font-weight: 300; color: white;" href="/pricing">PRICING</a></li>
        <li><a style="font-weight: 300; color: white;" href="/location">LOCATION</a></li>
        <li><a style="font-weight: 300; color: white;" href="/faqs">FAQS</a></li>
        <li><a style="font-weight: 300; color: white;" href="/contact">CONTACT</a></li>
    </ul>
    </div>
    </nav>
     <!-- hero image :) -->
     <div class="parallax-container hide-on-med-and-down">
        <div class="parallax black">
            <img class="responsive-img" src="public/images/Carinbay4-03.png">
        </div>
        <div class="parralax-text">
            <h1>PRICING</h1>
        </div>
    </div>
    <div class="parallax-container hide-on-large-only">
        <div class="parallax black">
            <img src="public/images/Carinbay4-03.png">
        </div>
        <div class="parralax-text">
            <h1>PRICING</h1>
        </div>
    </div>
     <div class="section black">
        <div class="row container">
            <div class="col s12 white-text center">
                <h2 style="font-weight: 300;" class="orange-text glow center">PACKAGES </h2>
                <p>
                    We accept all all major credit cards, cash, and Macedonia Laser Wash gift cards.
                </p>
            </div>
        </div>
        <div class="row center white-text glow hide-on-large-only">
            <div class="col s12">
                <h3>CERAMIC</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" src="public/images/Ceramic-03.png" alt="">
            </div>
            <div class="col s12">
                <h3>PREMIUM</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" src="public/images/Premium-03.png" alt="">
            </div>
            <div class="col s12">
                <h3>PREMIUM</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" src="public/images/Deluxe-03.png" alt="">
            </div>
            <div class="col s12">
                <h3>BASIC</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" src="public/images/Basic-03.png" alt="">
            </div>
        </div>
        <div class="row center white-text glow hide-on-med-and-down">
            <div class="col s12 center ">
                <h3>CERAMIC</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" width="400px" src="public/images/Ceramic-03.png" alt="">
            </div>
            <div class="col s12 center">
                <h3>PREMIUM</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" width="400px" src="public/images/Premium-03.png" alt="">
            </div>
            <div class="col s12 center">
                <h3>DELUXE</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" width="400px" src="public/images/Deluxe-03.png" alt="">
            </div>
            <div class="col s12 center">
                <h3>BASIC</h3>
                <hr style="width: 150px;">
                <img class="responsive-img" width="400px" src="public/images/Basic-03.png" alt="">
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="public/images/photo2-02.png"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <div class="col s12">
                <p class=" white-text center">
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row center white-text">
                <div class="col s12">
                    2036 Alexandria Way
                        Macedonia, Ohio  44056
                </div>
            </div>
            <div class="row center white-text" style="margin-top: -1rem;">
                <div class="col s12" style="font-weight: 300;">
                    <span>
                        (216) 469-1907
                    </span>
                    <span> | </span>
                    <span>
                        macedonialaserwash@gmail.com
                    </span>
                </div>
            </div>
           
            <div class="row center" style="margin-top: -3rem;">
                <div class="col s12">
                    <img width="70%" src="public/images/Large-Logo-02.png" alt="">
                </div>
            </div>
        </div>

    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script>
        $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.carousel').carousel();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.modal').modal();
                $('.parallax').parallax();
        });
    </script>
</body>