<!-- hero image :) -->
<div class="parallax-container hide-on-med-and-down">
    <div class="parallax black">
        <img class="responsive-img" src="public/images/Carinbay4-03.png">
    </div>
    <div class="parralax-text">
        <h1>PRICING</h1>
    </div>
</div>
<div class="parallax-container hide-on-large-only">
    <div class="parallax black">
        <img src="public/images/Carinbay4-03.png">
    </div>
    <div class="parralax-text">
        <h1>PRICING</h1>
    </div>
</div>
<div class="section black">
    <div class="row container">
        <div class="col s12 white-text center">
            <h2 style="font-weight: 300;" class="orange-text glow center">PACKAGES </h2>
            <p>
                We accept all all major credit cards, cash, and Laser Wash gift cards.
            </p>
            <p>Pricing is the same at both the Macedonia and Streetsboro locations. </p>
        </div>
    </div>
    <div class="row center white-text glow hide-on-large-only">
        <div class="col s12">
            <h3>CERAMIC</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" src="public/images/ceramic_2024.JPG" alt="Ceramic Price 2024">
        </div>
        <div class="col s12">
            <h3>PREMIUM</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" src="public/images/premium_2024.JPG" alt="Premium Price 2024">
        </div>
        <div class="col s12">
            <h3>DELUXE</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" src="public/images/deluxe_2024.JPG" alt="Deluxe Price 2024">
        </div>
        <div class="col s12">
            <h3>BASIC</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" src="public/images/basic_2024.JPG" alt="Basic Price 2024 ">
        </div>
    </div>
    <div class="row center white-text glow hide-on-med-and-down">
        <div class="col s12 center ">
            <h3>CERAMIC</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" width="400px" src="public/images/ceramic_2024.JPG" alt="Ceramic Price 2024">

        </div>
        <div class="col s12 center">
            <h3>PREMIUM</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" width="400px" src="public/images/premium_2024.JPG" alt="Premium Price 2024">
        </div>
        <div class="col s12 center">
            <h3>DELUXE</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" width="400px" src="public/images/deluxe_2024.JPG" alt="Deluxe Price 2024">
        </div>
        <div class="col s12 center">
            <h3>BASIC</h3>
            <hr style="width: 150px;">
            <img class="responsive-img" width="400px" src="public/images/basic_2024.JPG" alt="Basic Price 2024">
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="public/images/photo2-02.png"></div>
</div>
<div class="section black">
    <div class="row container">
        <div class="col s12">
            <p class=" white-text center">
            </p>
        </div>
    </div>
</div>