<div class="parallax-container">
    <div class="parallax black"><img class="responsive-img" src="public/images/contact.jpg">
    </div>
    <div class="parralax-text">
        <h1>CONTACT</h1>
    </div>
</div>
<div class="section black">
    <div class="row container">
        <div class="col s12">
            <h2 class="orange-text glow center">Thank you for <span class="white-text glow"><br>your message!</span>
            </h2>
        </div>
    </div>
</div>